<html lang="en">
  <head>
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12 col-xs-12 col-md-6 col-lg-6 score-section border">
          <h5 class="text-center">Stats</h5>
          <div>
            <div class="score-modal">
              <h6>Current Score:</h6>
              <span id="current-score">

            </span>
            </div>
            <div class="max-score-modal">
              <h6>High Score:</h6>
              <span id="high-score">

            </span>
            </div>
            <div class="score-multiplier-modal">
              <h6>Score Multiplier:</h6>
              <span id="score-multiplier">

            </span>
            </div>
            <div class="speed-modal">
              <h6>Current Speed:</h6>
              <span id="current-speed">

            </span>
            </div>
            <div class="lives-modal">
              <h6>Number of Lives:</h6>
              <span id="num-of-lives">

            </span>
            </div>
          </div>

        </div>
        <div class="col-xs-12 col-xs-12 col-md-6 col-lg-6 leaderboard-section border">
          <h5 class="text-center">Leaderboards</h5>
          <div>
            <ul class="list-unstyled" id="leaderboard-list">

            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="game" id="game">
          </div>
        </div>
      </div>
      <div class="modal" id="menu-modal" tabindex="-1" role="dialog" aria-labelledby="menu-modal-label" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="menu-modal-label">Menu</h5>
            </div>
            <div class="menu-modal-body modal-body text-center">
              <div class="btn-group-vertical">
                <button class="btn btn-primary button-size" id="play-button">Play</button>
              <button class="btn btn-danger button-size" id="restart-button">Restart</button>
              <button class="btn btn-warning button-size" id="reset-leaderboard-button">Reset Leaderboard</button>
              </div>

            </div>
            <div class="modal-footer">
                <h6>Instructions:</h6>
                <span>
                P for pause
                <br>
                Spacebar for jump
                <br>
                Left, Down, Right, Up for navigation
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
