@import '../../node_modules/bootstrap/dist/css/bootstrap.css';

html, body {
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;

  .score-section {
    h6 {
      display: inline;
    }
  }

  .modal {
    .modal-open {
      overflow: hidden;
    }

    .modal-backdrop {
      opacity:0.5 !important;
    }

    .modal-body .btn {
      margin: 5px;
      display: block;
      width: 150px !important;
    }
  }

}